@model Org.Ktu.Isk.P175B602.Autonuoma.Models.CharactersF2.CharactersCE

@* this will also be used as page title in main layout *@
@{ ViewData["title"] = "Character šalinimas (F2)"; }

@* content header *@
<div class="main-content-header">
	<span class="title">@ViewData["title"]</span>
	<span class="actions">
		<a 
			href="@Url.Action("Index")" 
			class="btn btn-outline-primary btn-sm"
		>
			<i class="fa-solid fa-angles-left"></i> Back to the list
		</a>
	</span>
</div>

@* content itself *@
<div class="main-content-ced">
@using( Html.BeginForm(FormMethod.Post, new { @class="entity-d" }) )
{
	@Html.AntiForgeryToken()

	<fieldset>
		<legend class="confirm-msg">Are you sure you want to delete this Character?</legend>

		<dl>
			<dt>@Html.DisplayNameFor(m => m.Characters.CreationDate)</dt>
			<dd>@String.Format("{0:yyyy-MM-dd}", Model.Characters.CreationDate)</dd>

			<dt>@Html.DisplayNameFor(m => m.Characters.Name)</dt>
			<dd>@Html.DisplayFor(m => m.Characters.Name)</dd>
				
			<dt>@Html.DisplayNameFor(m => m.Characters.FkClass)</dt>
			<dd>@Html.DisplayFor(m => m.Characters.FkClass)</dd>

			<dt>@Html.DisplayNameFor(m => m.Characters.FkFaction)</dt>
			<dd>@Html.DisplayFor(m => m.Characters.FkFaction)</dd>

			<dt>@Html.DisplayNameFor(m => m.Characters.FkRace_info)</dt>
			<dd>@Html.DisplayFor(m => m.Characters.FkRace_info)</dd>

			<dt>@Html.DisplayNameFor(m => m.Characters.FkUser)</dt>
			<dd>@Html.DisplayFor(m => m.Characters.FkUser)</dd>

			<dt>@Html.DisplayNameFor(m => m.Characters.id)</dt>
			<dd>@Html.DisplayFor(m => m.Characters.id)</dd>
		</dl>

		@if( ViewData["deletionNotPermitted"] != null )
		{
			<div class="fail-msg">
				<i class="fa-solid fa-circle-exclamation"></i> You cant delete this Character, because he has connections to other classes.
			</div>
		}
		else
		{
			<div class="buttons">
				<button
					formaction="@Url.Action("DeleteConfirm", new {id = Model.Characters.id})"
					class="btn btn-danger"
					style="white-space: nowrap;"
				><i class="fa-solid fa-trash"></i> Šalinti</button>
			</div>			
		}
	</fieldset>
}
</div>

@* content footer *@
<div class="main-content-footer">
	<span class="title"></span>
	<span class="actions">
		<a 
			href="@Url.Action("Index")" 
			class="btn btn-outline-primary btn-sm"
		>
			<i class="fa-solid fa-angles-left"></i> Back to the list
		</a>
	</span>
</div>