@model IEnumerable<Org.Ktu.Isk.P175B602.Autonuoma.Models.CharactersF2.CharactersL>

@* this will also be used as page title in main layout *@
@{ ViewData["title"] = "Character (F2)"; }

@* content header *@
<div class="main-content-header">
	<span class="title">@ViewData["title"]</span>
	<span class="actions">
		<a href="@Url.Action("Create")" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Sukurti naują</a>
	</span>
</div>

@* content itself *@
<div class="main-content-lst">
	<table class="entity-list">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(m => m.id)
				</th>
				<th>
					@Html.DisplayNameFor(m => m.CreationDate)
				</th>
				<th>
					@Html.DisplayNameFor(m => m.Name)
				</th>
				<th>
					@Html.DisplayNameFor(m => m.Status)
				</th>
				<th>
					@Html.DisplayNameFor(m => m.Users)
				</th>
				<th>
					@Html.DisplayNameFor(m => m.Faction)
				</th>
				<th>
					@Html.DisplayNameFor(m => m.Race_Info)
				</th>
				<th>
					@Html.DisplayNameFor(m => m.Class)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model) {
			<tr>
				<td>
						@Html.DisplayFor(m => item.id)
				</td>
				<td>
						@Html.DisplayFor(m => item.CreationDate)
				</td>
				<td>
						@Html.DisplayFor(m => item.Name)
				</td>
				<td>
						@Html.DisplayFor(m => item.Status)
				</td>
				<td>
						@Html.DisplayFor(m => item.Users)
				</td>
				<td>
						@Html.DisplayFor(m => item.Faction)
				</td>
				<td>
						@Html.DisplayFor(m => item.Race_Info)
				</td>
				<td>
						@Html.DisplayFor(m => item.Class)
				</td>
				<td>
					<a 
						href="@Url.Action("Edit", new { id = item.id })" 
						class="btn btn-primary"
						><i class="fa-solid fa-pen-to-square"></i> Edit</a>
						
					<a 
						href="@Url.Action("Delete", new { id = item.id })" 
						class="btn btn-danger"
						><i class="fa-solid fa-trash"></i>Delete</a>					
				</td>
			</tr>
			}
		</tbody>
	</table>
</div>