@model IEnumerable<Org.Ktu.Isk.P175B602.Autonuoma.Models.Race_info.Race_info>

@* this will also be used as page title in main layout *@
@{
	ViewData["title"] = "Classes";
}

@* content header *@
<div class="main-content-header">
	<span class="title">@ViewData["title"]</span>
	<span class="actions">
		<a href="@Url.Action("Create")" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Sukurti naują</a>
	</span>
</div>

@* content itself *@
<div class="main-content-lst">
	<table class="entity-list">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.id)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Ability)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Description)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.BonusStats)
				</th>
			
							
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(model => item.id)
					</td>
					<td>
						@Html.DisplayFor(model => item.Ability)
					</td>
					<td>
						@Html.DisplayFor(model => item.Description)
					</td>
					<th>
						@Html.DisplayFor(model => item.BonusStats)
					</th>
					
					<td>
						<a href="@Url.Action("Edit", new { id = item.id })" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Redaguoti</a>
						<a href="@Url.Action("Delete", new { id = item.id })" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Šalinti</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
